/* https://koodaaja.hayo.fi/tapahtumapalvelu/aloitus/tyylit.html 
"12. Viimeisenä korjaamme vielä tapahtumat-sivulla tulostuvat yksittäiset tapahtumat asemoitumaan yhdelle riville."
lomakemuotoilut: https://koodaaja.hayo.fi/tapahtumapalvelu/lomake/lomaketyylit.html
Kirjautumissivun infotekstin muotoilut: https://koodaaja.hayo.fi/tapahtumapalvelu/istunto/sivu.html
Headerin uudet muotoilut: https://koodaaja.hayo.fi/tapahtumapalvelu/istunto/tiedot.html
Ilmo-nappien muotoilut: https://koodaaja.hayo.fi/tapahtumapalvelu/istunto/ilmoittaudunappi.html
*/

/* Tekstimuotoilut */
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

h1 {
    font-family: 'Amarante', Palatino;
    color: #125f5a;
}

h2 {
    color: #125f5a;
    font-family: 'Sofia Sans Condensed', Tahoma;
    margin: 0 0 1rem 0;
}

section h1 {
    margin: 0 0 2rem 0;
}

p {
    font-family: 'Sofia Sans Condensed', Tahoma;
}

section {
    font-family: 'Sofia Sans Condensed', Tahoma;
    font-size: 20px;
}

/* Html, body ja section */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(to bottom, #883d1a, #ffdfcb, #fff9f5);
}

body {
    background-color: #fff;
    min-height: 100vh;
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

section {
    padding: 1.5rem 1rem 0rem 1rem;
    margin: 0 1rem 0 1rem;
    flex: 1;
}

/* Header ja navigointi */
header {
    background-color: #ffdfcb;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Amarante', Palatino;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

header img {
    max-width: 100%;
    height: auto;
    max-height: 60px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #883d1a;
    text-shadow: 0.25px 0.25px;
}

a:hover {
    text-decoration: dotted underline;
}

/* Tapahtumat */

.tap_nimi {
    font-weight: 600;
}

/* Lomakkeet */
.error {
color: red;
font-size: 0.8rem;
}




/* footer */
footer {
    font-size: 0.9rem;
    font-family: 'Amarante', Palatino;
    text-align: center;
    padding: 0.4rem;
    background-color: #a2dad6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}